<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    newsletters: {{count}} <br>
    active: {{active}}
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h1 class="my-0 mr-md-auto font-weight-normal">EMAIL SENDLER</h1>
    <nav class="ms-5">
        {% if user.is_authenticated %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'authh:logout' %}">Выйти</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailings:index' %}">Рассылки</a>
        {% else %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'authh:login' %}">Войти</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'authh:registration' %}">Регистрация</a>
        {% endif %}
    </nav>
</div>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
</body>
</html>